extends layout

block content
    div.w3-container.w3-gray
        div.w3-cell-row
            div.w3-cell(style="width:80%")
                h1 Změna hesla
            div.w3-cell.w3-cell-middle.w3-center
                h5 Přihlášen: #[i #{username}]
            div.w3-cell.w3-cell-middle
                a.w3-button.w3-hover-none(href="/logout")
                    i(class="fas fa-sign-out-alt fa-lg")

    div.w3-container.w3-centered.w3-margin-top(style="margin-right:35%")
        div.w3-container
            p #[i Změna hesla ovlyvní pouze autentizaci pomocí admin účtu a hesla]
        form.w3-container(action="/change-password" method="POST" style="padding-bottom: 16px")
            p
                label Staré heslo
                input.w3-input.w3-border.w3-round-medium(type="password" name="passwordOld")
            p
                label Nové heslo
                input.w3-input.w3-border.w3-round-medium(type="password" name="passwordNew")
            p
                label Nové heslo znovu
                input.w3-input.w3-border.w3-round-medium(type="password" name="passwordNew2")
            p
                input.w3-btn.w3-round-medium.w3-cyan.w3-text-black.w3-border.w3-border-grey.w3-padding-small(type="submit" value="Změnit")
            p
                label.w3-text-red= message
                label.w3-text-green= successMessage